<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <!-- Elimina o comenta la línea del logotipo para quitar la palabra NECTARLIFE -->
        @* <div class="logo">NECTARLIFE</div> *@
    </div>
</div>

<div class="sidebar">
    <nav class="flex-column nav-links">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/colmenar" Match="NavLinkMatch.All">
                Colmenar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tareas">
                Lista de tareas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/notas">
                Notas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/alimentacion">
                Alimentación
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/veterinario">
                Control veterinario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/infestados">
                Infestados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cosechas">
                Cosechas
            </NavLink>
        </div>
        <hr />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cuenta">
                Cuenta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/salir">
                Salir
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;



    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    private void ToggleNavMenu()

    {

        collapseNavMenu = !collapseNavMenu;

    }
}
